*{padding:0;margin:0}
body,html{height:100%;background-color:#000}

@media screen and (max-device-width: 5000px) {
    .wrap {
        width: 100%;
        height: 100%;
        overflow: hidden
    }

    .wrap2 {
        width: 100%;
        height: 1000%;
        transition: .3s linear
    }

    .page {
        width: 100%;
        height: 10%;
        background-color: #fdfdfd;
        font-size: 100px;
        line-height: 400px;
        text-align: center;
        font-weight: 700
    }
    .page div {
        float: left; background-color: #f2f2f2; background-position:center;
        background-repeat: no-repeat; background-size: auto 100%;
    }
    .page-2 {
        background-color: #d9dce5;
    }
    .page-2-1 {
        width: 38%; height: 50%;
        background-image: url("../album/6-2.jpg");
    }
    .page-2-2 {
        width: 60%; height: 30%; float: right!important;
        background-image: url("../album/4-3.jpg");
    }
    .page-2-3 {
        width: 60%; height: 18%; float: right!important; margin-top: 3%;
        background-image: url("../album/7-1.jpg"); background-size: 100% auto!important;
    }
    .border-2-1 {
        width: 100%; height: 1%; background-color: #d9dce5!important;
    }
    .page-2-4 {
        width: 100%; height: 49%;
        background-image: url("../album/2-3.jpg");
    }
    .page-3-1 {
        width: 100%; height: 60%;
        background-image: url("../album/5-1.jpg");
    }
    .page-3-2 {
        width: 60%; height: 40%;
        background-image: url("../album/5-2.jpg");
    }
    .page-3-3 {
        width: 40%; height: 40%;
        background-image: url("../album/5-3.jpg");
    }
    .photo {
        height: 100%; float: left; display: block;
    }
    .text-wrap {
        font-size: 14px;
    }
    .img-text {
        float: left; width: 50px; height: 50px;
        margin-left: 20px; color: #fff; display: none; text-align: center;
        line-height: 50px;
    }
    .img-title {
        width: 260px; height: 150px; bottom: 80px;
        float: left; color: #fff; font-size: 32px; line-height: 30px; text-align: center;
        left: 50%; margin-left: -130px; padding-top: 10px; position: absolute;
    }
    .text-1, .text-2, .text-3, .text-4, .text-5, .text-6, .text-7, .text-8 {
        position: absolute; width: 94%; height: 96%; border: 1px solid #fff; margin-top: 3%; margin-left: 3%;
    }
    .text-1-title {
        color: #fff; width: 100%; text-align: center; margin-top: 10px; font-size: 20px;
    }
    .text-1-title img {
        width: 200px;
    }
    .addr-span {
        font-size: 14px!important;
    }
    .wedding-img {
        width: 200px;
    }
    .img-title span {
        font-size: 16px; line-height: 25px; color: #fff;
    }
    .img-title hr {
        border: 0; border-top: 1px solid #fff; margin-top: 30px;
    }
    .text-3-border-1, .text-3-border-2, .text-3-border-3, .text-3-border-4 {
        position: absolute;
    }
    .text-3-border-1 {
        left: 20px; top: 20px;
    }
    .text-3-border-2 {
        right: 20px; top: 20px;
    }
    .text-3-border-3 {
        left: 20px; bottom: 20px;
    }
    .text-3-border-4 {
        right: 20px; bottom: 20px;
    }
    .text-4-title {
        text-align: center; position: absolute; top: 80px; font-size: 36px;
        width: 100%; color: #fff;
    }
    .text-4-title div {
        font-size: 15px; line-height: 30px!important;
    }
    .text-2-area, .text-3-area, .text-3-area-1, .text-3-area-2,
    .text-4-area-1, .text-4-area-2, .text-6-area, .text-7-area {
       position: absolute; line-height: 30px;
    }
    .text-span {
        float: left; width: 80%; margin-left: 10%; margin-top: 20px;
    }
    .text-wrap, .load-wrap {
        width: 100%; height: 100%; position: fixed; top: 0; left: 0;
    }
    .load-wrap {
        background-color:#fff;
        text-align: center;
    }
    .load-text {
        margin-top: 50%; line-height: 50px; color: #222;
    }
}